.input_container {
  margin: auto;
  display: flex;
}

.input_container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.button_container {
  margin-top: 1vh;
  display: flex;
  justify-content: flex-end;
  grid-gap: 3vh;
  gap: 3vh;
}
